<!-- <div #CanvasWrapper class="canvas-wrapper">
    <canvas #canvas></canvas>
</div> -->
@if(toolbarVisible()) {
<div class="toolbar" @toolbarAnimation>
  <button class="round" (click)="setPen()" matTooltip="Select Pen tool" [matTooltipShowDelay]="tooltipShowDelay">
    <i class="fi fi-ss-pen-clip"></i>
  </button>
  <button class="round" (click)="setEraser()" matTooltip="Select Eraser tool" [matTooltipShowDelay]="tooltipShowDelay">
    <i class="fi fi-sr-eraser"></i>
  </button>
  <button class="round">
    <i class="fi fi-ss-resources"></i>
  </button>
  <!-- <button class="round" (click)="setRect()">▭</button>
  <button class="round" (click)="setCircle()">⬭</button>
  <button class="round" (click)="setLine()">╱</button> -->
  <button class="round" (click)="setText()" matTooltip="Insert text" [matTooltipShowDelay]="tooltipShowDelay">
    <i class="fi fi-sr-text-box-edit"></i>
  </button>

  <input class="color-picker" type="color" [(ngModel)]="color" (change)="setColor()" />
  <input type="range" [(ngModel)]="brushSize" min="1" max="20" (input)="setSize()" />

  <button class="undo" (click)="undo()" matTooltip="Undo" [matTooltipShowDelay]="tooltipShowDelay">
    <i class="fi fi-br-undo-alt"></i>
  </button>
  <button class="redo" (click)="redo()" matTooltip="Redo" [matTooltipShowDelay]="tooltipShowDelay">
    <i class="fi fi-br-redo-alt"></i>
  </button>

  <button class="insert-image-button" (click)="redo()" matTooltip="Insert image" [matTooltipShowDelay]="tooltipShowDelay">
    <i class="fi fi-sr-add-image"></i>
  </button>

  <button class="export" (click)="exportCanvas()" matTooltip="Export canvas" [matTooltipShowDelay]="tooltipShowDelay">
    <i class="fi fi-sr-file-export"></i>
    Export
  </button>
  <!-- <button (click)="clear()">🗑 Clear</button> -->
</div>
}

<div #CanvasWrapper class="canvas-wrapper">
  <canvas #canvas></canvas>
</div>