/* You can add global styles to this file, and also import other style files */
// @import "@progress/kendo-theme-default/dist/all.css";<style>
@use "@flaticon/flaticon-uicons/css/all/all";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Montserrat", sans-serif;
}

.mat-mdc-menu-panel.shapes-menu {
  min-width: unset !important;
  --mat-menu-container-shape: 10px;

  margin-top: 10px;
  margin-left: -4px;
  
  .mat-mdc-menu-content {
    padding: 6px !important;
    display: flex;
    flex-direction: column;
    gap: 4px;

    button.mat-mdc-menu-item {
      background: #b3b3b3;
      border-radius: 50%;
    //   width: 40px;
    //   height: 40px;
      min-height: unset;
      padding: 12px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 15px;
      aspect-ratio: 1;
    }
  }
}